<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <title>AdminDashboard</title>
</head>

<body>
    <app-side-bar></app-side-bar>
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>

        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>

                </div>

            </div>

            <ul class="box-info">
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero itaque dolores voluptate,
                        voluptatibus reiciendis exercitationem sunt necessitatibus </p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero itaque dolores voluptate,
                        voluptatibus reiciendis exercitationem sunt necessitatibus </p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero itaque dolores voluptate,
                        voluptatibus reiciendis exercitationem sunt necessitatibus </p>
                </li>
            </ul>


            <div class="table-data">
                <div class="order">

                    <table>
                        <thead>
                            <tr>
                                <th>VOTE</th>
                                <th>Date </th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="img/people.png">
                                    <p>lroem</p>
                                </td>
                                <td>01-10-2021</td>
                                <td><span class="status completed">lorem</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="img/people.png">
                                    <p>lorem</p>
                                </td>
                                <td>01-10-2021</td>
                                <td><span class="status pending">lorem</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="img/people.png">
                                    <p>lorem</p>
                                </td>
                                <td>01-10-2021</td>
                                <td><span class="status process">lorem</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="img/people.png">
                                    <p>lorem</p>
                                </td>
                                <td>01-10-2021</td>
                                <td><span class="status pending">lorem</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="img/people.png">
                                    <p>lorem</p>
                                </td>
                                <td>01-10-2021</td>
                                <td><span class="status completed">lorem</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </main>
        <!-- MAIN -->
    </section>
</body>

</html>